<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>LastAccessedDate</key>
	<date>2016-11-20T15:51:36Z</date>
	<key>WorkspacePath</key>
	<string>/Users/a13196/Documents/of_v0.9.7_osx_release/apps/myApps/Mosaic/Mosaic.xcodeproj</string>
</dict>
</plist>
